<!DOCTYPE html>
<html>

<head>
    <% include bankManagement/bankCommanComp/header.ejs %>
</head>

<body>
    <div class="center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="99vw" height="70vh" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
            <g id="BACKGROUND" display="none">
                <rect id="XMLID_403_" display="inline" fill="#FFFFFF" width="500" height="500" />
            </g>
            <g id="OBJECTS">
                <path id="XMLID_8_" fill="#D8EBF0" d="M114.024,423.475C112.849,419.18,88.592,34.969,87.719,57.27l350.898-0.935l-28.159,367.14
H114.024z" />
                <polygon id="XMLID_1_" fill="#B5D7E0" points="110.04,396.113 135.699,378.492 396.207,384.603 396.207,398.187 334.537,398.187 
351.957,436.257 346.125,432.047 308.005,407.374 227.216,403.653 191.686,436.257 191.686,436.257 210.138,407.45 	" />
                <g id="XMLID_34_">
                    <path id="XMLID_31_" fill="#828282" d="M213.604,390.714c0,0-20.738,39.26-20.672,38.568c0.067-0.691,4.587,2.765,4.587,2.765
    l27.843-41.333H213.604z" />
                    <path id="XMLID_33_" fill="#828282" d="M182.34,431.112l-5.895-15.045c-1.844-4.706,0.89-9.957,5.803-11.146l4.27-1.032
    c4.914-1.188,9.747,2.234,10.255,7.265l1.625,16.078c0.434,4.291-2.478,8.205-6.712,9.024l0,0
    C187.738,437.021,183.807,434.856,182.34,431.112z" />
                </g>
                <g id="XMLID_36_">
                    <path id="XMLID_38_" fill="#828282" d="M330.04,390.714c0,0,20.738,39.26,20.671,38.568c-0.066-0.691-4.586,2.765-4.586,2.765
    l-27.843-41.333H330.04z" />
                    <path id="XMLID_37_" fill="#828282" d="M361.303,431.112l5.896-15.045c1.844-4.706-0.891-9.957-5.803-11.146l-4.27-1.032
    c-4.915-1.188-9.747,2.234-10.256,7.265l-1.625,16.078c-0.434,4.291,2.478,8.205,6.712,9.024l0,0
    C355.905,437.021,359.836,434.856,361.303,431.112z" />
                </g>
                <g id="XMLID_30_">
                    <polygon id="XMLID_23_" fill="#828282" points="159.25,308.271 112.148,300.94 112.148,304.605 159.25,320.101 		" />
                    <path id="XMLID_39_" fill="#828282" d="M395.613,266.661L395.613,266.661c-5.22-0.242-9.293-4.712-9.05-9.933l0.305-6.557
    c0.242-5.221,4.712-9.293,9.933-9.05l0,0c5.22,0.242,9.292,4.712,9.05,9.932l-0.305,6.559
    C405.304,262.831,400.834,266.903,395.613,266.661z" />
                    <path id="XMLID_13_" fill="#828282" d="M384.304,301.587l12.331-7.865c6.906-4.406,9.171-13.439,5.159-20.582l-7.785-13.86h5.952
    l12.615,14.278c5.896,6.673,4.942,16.937-2.082,22.408l-19.516,15.201L384.304,301.587z" />

                    <polygon id="XMLID_10_" fill="#FFFFFF" stroke="#828282" stroke-width="3" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" points="
    159.376,390.714 149.732,215.072 396.207,215.072 385.949,390.714 		" />
                    <g id="XMLID_48_">
                        <polygon id="XMLID_49_" fill="#D8EBF0" points="334.537,250.675 376.706,250.675 377.1,253.129 334.537,253.457 			" />
                        <polygon id="XMLID_50_" fill="#D8EBF0" points="334.537,258.448 376.706,258.448 377.1,260.903 334.537,261.23 			" />
                        <polygon id="XMLID_51_" fill="#D8EBF0" points="334.537,266.223 376.706,266.223 377.1,268.677 334.537,269.005 			" />
                        <polygon id="XMLID_52_" fill="#D8EBF0" points="334.537,273.997 366.167,273.997 366.462,276.451 334.537,276.778 			" />
                    </g>
                    <path id="XMLID_35_" fill="#EBEFF0" d="M157.937,244.021l21.692,114.175c1.525,8.024,8.273,14.01,16.422,14.564l178.554,12.17
    H165.281L157.937,244.021z" />

                    <polygon id="XMLID_15_" fill="#73D6F0" stroke="#828282" stroke-width="3" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" points="
    149.732,215.072 151.926,236.563 393.684,236.563 396.207,215.072 		" />
                    <polygon id="XMLID_41_" fill="#5AC4E0" points="159.25,225.708 332.354,229.351 331.318,232.458 157.937,232.458 		" />
                    <circle id="XMLID_16_" fill="#FFFFFF" cx="348.886" cy="225.708" r="4.677" />
                    <circle id="XMLID_18_" fill="#FFFFFF" cx="364.083" cy="225.708" r="4.676" />
                    <circle id="XMLID_19_" fill="#FFFFFF" cx="379.282" cy="225.708" r="4.676" />
                    <g id="XMLID_20_">

                        <line id="XMLID_21_" fill="none" stroke="#828282" stroke-width="10" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" x1="206.424" y1="273.897" x2="242.485" y2="301.978" />

                        <line id="XMLID_22_" fill="none" stroke="#828282" stroke-width="10" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" x1="242.485" y1="273.897" x2="206.424" y2="301.978" />
                    </g>
                    <g id="XMLID_26_">

                        <line id="XMLID_28_" fill="none" stroke="#828282" stroke-width="10" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" x1="298.367" y1="275.066" x2="334.428" y2="303.146" />

                        <line id="XMLID_27_" fill="none" stroke="#828282" stroke-width="10" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" x1="334.428" y1="275.066" x2="298.367" y2="303.146" />
                    </g>

                    <path id="XMLID_32_" fill="none" stroke="#828282" stroke-width="10" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" d="
    M238.5,347.471c19.631-19.632,51.461-19.632,71.093,0" />
                </g>

                <polygon id="XMLID_29_" fill="#FFFFFF" stroke="#828282" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" points="
96.031,166.412 114.395,366.399 124.049,366.182 101.19,166.046 	" />
                <path id="XMLID_25_" fill="#828282" d="M112.765,317.883L112.765,317.883c-5.22-0.242-9.293-4.712-9.05-9.932l0.305-6.558
c0.243-5.221,4.712-9.293,9.932-9.051l0,0c5.221,0.243,9.293,4.712,9.05,9.933l-0.304,6.558
C122.455,314.053,117.985,318.126,112.765,317.883z" />

                <polygon id="XMLID_9_" fill="#FFA1A4" stroke="#828282" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" points="
75.371,216.083 31.936,180.976 26.047,125.438 61.154,82.003 116.691,76.114 160.126,111.221 166.016,166.758 130.909,210.193 	" />
                <g id="XMLID_12_">
                    <path fill="#FFFFFF" d="M43.613,163.751l11.455-39.912l9.632-1.167l4.599,37.967l4.175-0.506l0.972,8.027l-4.174,0.506
    l1.235,10.194l-8.669,1.05l-1.235-10.194l-17.017,2.062L43.613,163.751z M60.63,161.689l-2.557-21.11l-6.353,22.189L60.63,161.689
    z" />
                    <path fill="#FFFFFF" d="M78.267,134.712c-1.089-8.99,3.024-14.702,11.694-15.751c8.669-1.05,14.027,3.514,15.116,12.504
    l3.539,29.218c1.089,8.989-3.024,14.701-11.693,15.751c-8.669,1.05-14.028-3.514-15.117-12.503L78.267,134.712z M90.704,163.423
    c0.486,4.013,2.437,5.324,5.247,4.984c2.809-0.34,4.39-2.08,3.904-6.092l-3.675-30.343c-0.486-4.013-2.437-5.324-5.246-4.984
    c-2.81,0.34-4.391,2.08-3.905,6.092L90.704,163.423z" />
                    <path fill="#FFFFFF" d="M115.945,154.989l11.455-39.911l9.632-1.167l4.599,37.967l4.174-0.506l0.973,8.027l-4.174,0.506
    l1.235,10.194l-8.669,1.05l-1.235-10.194l-17.017,2.062L115.945,154.989z M132.962,152.928l-2.557-21.11l-6.354,22.19
    L132.962,152.928z" />
                </g>
                <g id="XMLID_14_">

                    <polygon id="XMLID_24_" fill="#FFA1A4" stroke="#828282" stroke-width="3" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" points="
    467.08,108.499 261.088,102.742 263.22,201.87 304.074,203.152 301.229,229.351 338.776,207.086 342.776,204.367 457.575,207.97 
            " />
                    <g id="XMLID_17_">
                        <g id="XMLID_11_">
                            <path fill="#FFFFFF" d="M291.704,128.595c0.149-3.693,2.181-5.725,5.742-5.58s5.423,2.334,5.272,6.027l-0.487,12.004
            c-0.15,3.694-2.182,5.725-5.743,5.581s-5.422-2.334-5.271-6.028L291.704,128.595z M294.834,140.977
            c-0.066,1.649,0.634,2.305,1.788,2.352s1.905-0.55,1.972-2.199l0.507-12.466c0.066-1.648-0.634-2.305-1.788-2.352
            s-1.905,0.55-1.972,2.199L294.834,140.977z" />
                            <path fill="#FFFFFF" d="M304.762,129.125c0.15-3.693,2.181-5.725,5.742-5.58s5.422,2.334,5.272,6.027l-0.487,12.004
            c-0.15,3.694-2.182,5.725-5.743,5.581s-5.422-2.334-5.271-6.028L304.762,129.125z M307.892,141.507
            c-0.066,1.649,0.634,2.306,1.788,2.353s1.905-0.55,1.972-2.2l0.507-12.465c0.066-1.649-0.634-2.305-1.788-2.352
            s-1.905,0.55-1.972,2.199L307.892,141.507z" />
                            <path fill="#FFFFFF" d="M328.859,130.269l-0.122,3.001c-0.149,3.694-2.013,5.633-5.641,5.485l-1.714-0.069l-0.352,8.673
            l-3.628-0.147l0.937-23.085l5.342,0.217C327.31,124.491,329.01,126.576,328.859,130.269z M321.834,127.573l-0.317,7.815
            l1.714,0.069c1.154,0.047,1.803-0.455,1.87-2.104l0.141-3.462c0.066-1.649-0.539-2.202-1.693-2.249L321.834,127.573z" />
                            <path fill="#FFFFFF" d="M335.662,124.566c3.528,0.144,5.258,2.327,5.107,6.021l-0.029,0.726l-3.43-0.139l0.039-0.957
            c0.066-1.649-0.568-2.302-1.723-2.349c-1.154-0.047-1.839,0.553-1.905,2.202c-0.193,4.749,6.861,5.927,6.594,12.522
            c-0.15,3.694-2.083,5.729-5.645,5.585c-3.562-0.145-5.323-2.33-5.173-6.024l0.058-1.418l3.43,0.139l-0.067,1.648
            c-0.066,1.649,0.635,2.272,1.789,2.319s1.904-0.517,1.971-2.167c0.193-4.749-6.86-5.927-6.593-12.522
            C330.234,126.46,332.134,124.423,335.662,124.566z" />
                            <path fill="#FFFFFF" d="M345.638,144.856l-0.142,3.496l-3.495-0.142l0.142-3.496L345.638,144.856z" />
                            <path fill="#FFFFFF" d="M351.771,145.105l-0.142,3.496l-3.495-0.142l0.142-3.496L351.771,145.105z" />
                            <path fill="#FFFFFF" d="M301.139,168.776l-0.121,3.001c-0.15,3.694-2.014,5.633-5.641,5.486l-1.715-0.069l-0.352,8.673
            l-3.628-0.147l0.938-23.084l5.342,0.217C299.59,162.999,301.289,165.083,301.139,168.776z M294.113,166.08l-0.316,7.815
            l1.714,0.069c1.154,0.047,1.803-0.455,1.869-2.104l0.141-3.462c0.067-1.649-0.539-2.202-1.693-2.249L294.113,166.08z" />
                            <path fill="#FFFFFF" d="M313.59,186.69l-3.661-0.149l-0.457-4.213l-4.452-0.181l-0.796,4.163l-3.331-0.135l4.631-22.935
            l5.31,0.215L313.59,186.69z M305.609,179.032l3.495,0.142l-1.273-11.745L305.609,179.032z" />
                            <path fill="#FFFFFF" d="M321.2,174.116l5.078,0.206l-0.298,7.321c-0.149,3.694-2.082,5.73-5.644,5.585
            c-3.562-0.145-5.321-2.33-5.172-6.024l0.487-12.003c0.15-3.693,2.082-5.729,5.643-5.585c3.563,0.145,5.323,2.331,5.173,6.024
            l-0.091,2.243l-3.43-0.139l0.101-2.474c0.066-1.649-0.633-2.305-1.787-2.352s-1.906,0.55-1.973,2.199l-0.506,12.465
            c-0.067,1.649,0.635,2.272,1.789,2.319s1.903-0.518,1.971-2.167l0.173-4.254l-1.648-0.067L321.2,174.116z" />
                            <path fill="#FFFFFF" d="M332.266,174.07l4.979,0.202l-0.134,3.297l-4.979-0.202l-0.274,6.761l6.266,0.254l-0.134,3.297
            l-9.894-0.401l0.938-23.084l9.894,0.401l-0.135,3.298l-6.266-0.254L332.266,174.07z" />
                            <path fill="#FFFFFF" d="M349.251,171.39l-0.679,16.72l-3.265-0.133l0.938-23.084l4.551,0.185l3.165,13.969l0.562-13.818
            l3.231,0.131l-0.938,23.084l-3.727-0.151L349.251,171.39z" />
                            <path fill="#FFFFFF" d="M359.835,170.994c0.15-3.693,2.183-5.725,5.743-5.581c3.563,0.145,5.422,2.334,5.271,6.028
            l-0.487,12.003c-0.149,3.694-2.181,5.726-5.742,5.581s-5.422-2.334-5.272-6.028L359.835,170.994z M362.966,183.376
            c-0.067,1.649,0.634,2.305,1.788,2.352s1.904-0.55,1.972-2.199l0.506-12.465c0.066-1.649-0.633-2.305-1.787-2.352
            s-1.906,0.55-1.973,2.199L362.966,183.376z" />
                            <path fill="#FFFFFF" d="M372.358,165.953l11.213,0.456l-0.135,3.298l-3.792-0.154l-0.803,19.787l-3.628-0.147l0.803-19.787
            l-3.793-0.154L372.358,165.953z" />
                            <path fill="#FFFFFF" d="M393.474,177.083l4.683,0.19l-0.134,3.297l-4.683-0.19l-0.387,9.53l-3.628-0.147l0.938-23.084
            l9.597,0.39l-0.135,3.298l-5.969-0.242L393.474,177.083z" />
                            <path fill="#FFFFFF" d="M401.084,172.668c0.15-3.693,2.182-5.725,5.742-5.581c3.563,0.145,5.422,2.334,5.271,6.028
            l-0.487,12.003c-0.149,3.694-2.181,5.726-5.742,5.581s-5.421-2.334-5.271-6.028L401.084,172.668z M404.215,185.05
            c-0.067,1.649,0.633,2.305,1.787,2.352s1.905-0.55,1.973-2.199l0.506-12.465c0.066-1.649-0.634-2.305-1.788-2.352
            s-1.905,0.55-1.972,2.199L404.215,185.05z" />
                            <path fill="#FFFFFF" d="M417.432,170.583l-0.635,15.651c-0.059,1.449,0.558,1.997,1.572,2.038
            c1.015,0.042,1.673-0.455,1.731-1.904l0.635-15.651l3.015,0.122l-0.627,15.448c-0.132,3.247-1.83,5.036-4.96,4.909
            c-3.131-0.127-4.678-2.048-4.546-5.294l0.627-15.448L417.432,170.583z" />
                            <path fill="#FFFFFF" d="M428.535,176.637l-0.597,14.694l-2.87-0.117l0.823-20.288l4,0.163l2.783,12.277l0.492-12.144l2.84,0.115
            l-0.823,20.288l-3.275-0.133L428.535,176.637z" />
                            <path fill="#FFFFFF" d="M438.294,171.43l5.042,0.205c3.189,0.129,4.683,1.96,4.551,5.207l-0.417,10.26
            c-0.132,3.246-1.768,4.951-4.957,4.821l-5.042-0.205L438.294,171.43z M441.364,174.458l-0.589,14.492l1.797,0.073
            c1.015,0.041,1.645-0.456,1.703-1.905l0.429-10.55c0.059-1.449-0.528-1.996-1.543-2.037L441.364,174.458z" />
                        </g>
                    </g>
                </g>
                <polygon id="XMLID_42_" fill="#5AC4E0" points="157.937,232.458 155.511,218.865 169.504,232.458 	" />
                <polygon id="XMLID_44_" fill="#D8EBF0" points="332.354,369.163 332.354,323.556 379.281,323.556 375.642,370.718 	" />
                <polygon id="XMLID_46_" fill="#D8EBF0" points="170.54,261.363 169.504,244.021 206.812,244.021 205.117,262.399 	" />
                <g id="XMLID_53_">
                    <rect id="XMLID_47_" x="180.501" y="325.493" fill="#D8EBF0" width="16.215" height="12.647" />
                    <rect id="XMLID_54_" x="201.612" y="325.493" fill="#D8EBF0" width="16.215" height="12.647" />
                    <rect id="XMLID_56_" x="180.501" y="342.078" fill="#D8EBF0" width="16.215" height="12.646" />
                    <rect id="XMLID_55_" x="201.612" y="342.078" fill="#D8EBF0" width="16.215" height="12.646" />
                </g>
            </g>
            <g id="DESIGNED_BY_FREEPIK" display="none">
                <g id="XMLID_1808_" display="inline">
                    <g id="XMLID_1870_">
                        <g id="XMLID_469_">
                            <g id="XMLID_505_">
                                <path id="XMLID_526_" fill="#828282" d="M176.616,470.889c-0.246,0-0.435,0.085-0.567,0.256
                c-0.133,0.17-0.199,0.421-0.199,0.754v2.392c-0.305-0.331-0.618-0.578-0.938-0.739c-0.321-0.159-0.715-0.24-1.181-0.24
                c-0.808,0-1.458,0.284-1.953,0.849c-0.495,0.566-0.742,1.356-0.742,2.37c0,0.478,0.063,0.923,0.187,1.335
                s0.307,0.77,0.549,1.074c0.241,0.305,0.527,0.54,0.857,0.704c0.331,0.164,0.69,0.246,1.078,0.246
                c0.293,0,0.563-0.04,0.81-0.123c0.248-0.08,0.477-0.199,0.688-0.355c0.212-0.156,0.426-0.359,0.645-0.608v0.16
                c0,0.297,0.072,0.525,0.216,0.687c0.145,0.16,0.328,0.24,0.549,0.24c0.226,0,0.41-0.078,0.552-0.231
                c0.143-0.155,0.214-0.386,0.214-0.695v-7.146c0-0.306-0.066-0.535-0.199-0.692C177.05,470.967,176.861,470.889,176.616,470.889
                z M175.55,477.731c-0.14,0.306-0.328,0.534-0.563,0.682c-0.236,0.148-0.496,0.224-0.781,0.224c-0.281,0-0.54-0.079-0.778-0.236
                c-0.237-0.155-0.424-0.388-0.561-0.696c-0.136-0.31-0.205-0.683-0.205-1.122c0-0.416,0.064-0.781,0.193-1.096
                c0.129-0.315,0.31-0.556,0.543-0.724c0.233-0.168,0.499-0.253,0.795-0.253c0.285,0,0.547,0.082,0.786,0.246
                c0.24,0.165,0.43,0.402,0.57,0.712c0.141,0.312,0.211,0.683,0.211,1.114C175.761,477.04,175.691,477.424,175.55,477.731z" />
                                <path id="XMLID_523_" fill="#828282" d="M183.982,476.811c0.233-0.121,0.35-0.385,0.35-0.793c0-0.438-0.113-0.87-0.338-1.294
                c-0.225-0.423-0.565-0.769-1.019-1.035c-0.453-0.269-0.996-0.4-1.629-0.4c-0.487,0-0.93,0.077-1.33,0.233
                c-0.4,0.157-0.736,0.381-1.01,0.674c-0.272,0.293-0.48,0.645-0.623,1.055c-0.143,0.408-0.213,0.853-0.213,1.332
                c0,1.017,0.289,1.822,0.867,2.416c0.578,0.593,1.387,0.891,2.427,0.891c0.456,0,0.858-0.06,1.208-0.179
                c0.351-0.119,0.641-0.268,0.873-0.448c0.231-0.18,0.404-0.368,0.52-0.563c0.114-0.196,0.172-0.367,0.172-0.514
                c0-0.167-0.052-0.294-0.155-0.386c-0.103-0.091-0.237-0.138-0.403-0.138c-0.155,0-0.274,0.036-0.357,0.107
                c-0.202,0.189-0.366,0.341-0.493,0.451c-0.126,0.111-0.265,0.216-0.415,0.313c-0.151,0.098-0.306,0.168-0.466,0.214
                c-0.161,0.045-0.337,0.067-0.531,0.067c-0.289,0-0.553-0.07-0.793-0.213c-0.239-0.143-0.431-0.354-0.575-0.636
                c-0.145-0.28-0.219-0.605-0.223-0.973h3.17C183.42,476.992,183.749,476.931,183.982,476.811z M179.826,476.071
                c0.056-0.546,0.213-0.959,0.472-1.238c0.259-0.278,0.591-0.418,0.994-0.418c0.424,0,0.765,0.138,1.024,0.413
                c0.259,0.274,0.41,0.689,0.448,1.243H179.826z" />
                                <path id="XMLID_522_" fill="#828282" d="M189.41,476.374c-0.319-0.17-0.729-0.316-1.231-0.439
                c-0.424-0.104-0.756-0.19-0.997-0.261c-0.242-0.071-0.434-0.161-0.577-0.271c-0.142-0.108-0.213-0.248-0.213-0.419
                c0-0.186,0.097-0.341,0.291-0.465c0.194-0.126,0.437-0.188,0.73-0.188c0.285,0,0.511,0.047,0.677,0.143
                c0.167,0.095,0.311,0.222,0.433,0.38c0.15,0.19,0.284,0.332,0.4,0.427c0.117,0.096,0.258,0.144,0.424,0.144
                c0.23,0,0.407-0.061,0.532-0.179c0.124-0.119,0.187-0.271,0.187-0.457c0-0.171-0.059-0.345-0.175-0.522
                c-0.117-0.178-0.287-0.341-0.51-0.486c-0.223-0.146-0.503-0.265-0.837-0.351c-0.334-0.088-0.711-0.131-1.131-0.131
                c-0.534,0-0.99,0.086-1.367,0.259c-0.379,0.172-0.665,0.402-0.859,0.69c-0.194,0.29-0.291,0.597-0.291,0.921
                c0,0.363,0.105,0.671,0.314,0.921c0.21,0.248,0.49,0.45,0.84,0.602c0.351,0.152,0.805,0.298,1.362,0.437
                c0.495,0.118,0.85,0.244,1.065,0.374c0.216,0.131,0.324,0.338,0.324,0.623c0,0.186-0.104,0.351-0.311,0.496
                c-0.208,0.144-0.474,0.217-0.798,0.217c-0.4,0-0.716-0.071-0.947-0.214c-0.231-0.144-0.431-0.357-0.597-0.647
                c-0.083-0.149-0.17-0.267-0.261-0.35c-0.091-0.083-0.222-0.125-0.391-0.125c-0.194,0-0.355,0.063-0.481,0.19
                c-0.127,0.126-0.19,0.278-0.19,0.456c0,0.27,0.099,0.537,0.297,0.806c0.198,0.266,0.504,0.489,0.92,0.667
                s0.914,0.268,1.496,0.268c0.609,0,1.127-0.082,1.552-0.246c0.426-0.164,0.748-0.406,0.965-0.725
                c0.218-0.319,0.327-0.702,0.327-1.149c0-0.297-0.082-0.561-0.246-0.792C189.97,476.745,189.728,476.543,189.41,476.374z" />
                                <path id="XMLID_521_" fill="#828282" d="M192.018,473.299c-0.238,0-0.431,0.081-0.579,0.243
                c-0.148,0.163-0.222,0.404-0.222,0.725v4.636c0,0.317,0.074,0.561,0.222,0.73c0.148,0.171,0.341,0.256,0.579,0.256
                s0.433-0.084,0.588-0.25c0.154-0.166,0.231-0.411,0.231-0.736v-4.683c0-0.289-0.077-0.515-0.231-0.678
                C192.451,473.38,192.256,473.299,192.018,473.299z" />
                                <path id="XMLID_520_" fill="#828282" d="M192.036,470.96c-0.218,0-0.409,0.074-0.573,0.223
                c-0.164,0.149-0.246,0.337-0.246,0.567c0,0.254,0.08,0.449,0.24,0.588c0.161,0.138,0.354,0.208,0.579,0.208
                c0.217,0,0.405-0.071,0.563-0.212c0.158-0.14,0.238-0.335,0.238-0.584c0-0.258-0.082-0.453-0.244-0.588
                S192.246,470.96,192.036,470.96z" />
                                <path id="XMLID_517_" fill="#828282" d="M199.159,473.299c-0.218,0-0.396,0.077-0.535,0.231
                c-0.139,0.155-0.208,0.372-0.208,0.653v0.22c-0.289-0.376-0.602-0.651-0.938-0.829c-0.336-0.175-0.735-0.264-1.193-0.264
                c-0.384,0-0.736,0.068-1.057,0.205s-0.604,0.339-0.849,0.608c-0.245,0.269-0.434,0.6-0.567,0.992
                c-0.132,0.391-0.198,0.831-0.198,1.317c0,0.653,0.108,1.228,0.326,1.728c0.217,0.498,0.529,0.886,0.935,1.163
                c0.406,0.277,0.88,0.416,1.422,0.416c0.451,0,0.84-0.091,1.166-0.273c0.327-0.182,0.614-0.447,0.864-0.796
                c-0.008,0.53-0.02,0.915-0.035,1.155c-0.016,0.239-0.07,0.464-0.164,0.673c-0.093,0.21-0.255,0.374-0.487,0.49
                c-0.231,0.117-0.557,0.175-0.977,0.175c-0.206,0-0.388-0.02-0.546-0.056c-0.158-0.038-0.293-0.096-0.407-0.172
                c-0.112-0.077-0.215-0.17-0.309-0.279c-0.093-0.108-0.183-0.218-0.27-0.324c-0.178-0.209-0.386-0.314-0.623-0.314
                c-0.189,0-0.353,0.063-0.487,0.188c-0.135,0.124-0.202,0.286-0.202,0.483c0,0.262,0.119,0.516,0.356,0.763
                c0.238,0.247,0.576,0.449,1.015,0.605c0.439,0.156,0.938,0.234,1.496,0.234c0.61,0,1.12-0.061,1.529-0.184
                c0.409-0.122,0.741-0.312,0.994-0.563c0.254-0.254,0.438-0.574,0.552-0.962c0.115-0.388,0.173-0.851,0.173-1.39v-4.707
                c0-0.384-0.052-0.678-0.155-0.882C199.679,473.401,199.472,473.299,199.159,473.299z M198.132,477.665
                c-0.15,0.291-0.345,0.509-0.585,0.653c-0.239,0.145-0.494,0.217-0.763,0.217c-0.455,0-0.826-0.168-1.113-0.505
                c-0.287-0.336-0.43-0.833-0.43-1.49c0-0.648,0.139-1.149,0.418-1.501c0.278-0.353,0.649-0.529,1.112-0.529
                c0.476,0,0.858,0.185,1.149,0.553c0.291,0.367,0.436,0.883,0.436,1.543C198.357,477.021,198.282,477.374,198.132,477.665z" />
                                <path id="XMLID_516_" fill="#828282" d="M206.513,474.367c-0.166-0.34-0.417-0.603-0.753-0.789
                c-0.336-0.186-0.718-0.279-1.146-0.279c-0.439,0-0.828,0.089-1.166,0.265c-0.339,0.176-0.65,0.452-0.935,0.828v-0.196
                c0-0.193-0.035-0.358-0.104-0.493c-0.069-0.134-0.162-0.234-0.276-0.302c-0.115-0.068-0.244-0.102-0.387-0.102
                c-0.233,0-0.417,0.076-0.552,0.229c-0.135,0.152-0.202,0.383-0.202,0.692v4.683c0,0.317,0.075,0.561,0.225,0.73
                c0.151,0.171,0.342,0.256,0.576,0.256c0.242,0,0.438-0.082,0.591-0.246c0.151-0.164,0.228-0.412,0.228-0.74v-2.03
                c0-0.66,0.04-1.111,0.119-1.353c0.111-0.301,0.285-0.537,0.522-0.71c0.238-0.172,0.501-0.259,0.79-0.259
                c0.443,0,0.739,0.143,0.888,0.425c0.148,0.283,0.223,0.692,0.223,1.226v2.701c0,0.317,0.075,0.561,0.226,0.73
                c0.15,0.171,0.346,0.256,0.588,0.256c0.237,0,0.43-0.084,0.579-0.25s0.223-0.411,0.223-0.736v-3.015
                c0-0.356-0.017-0.649-0.048-0.879S206.62,474.565,206.513,474.367z" />
                                <path id="XMLID_513_" fill="#828282" d="M213.357,476.811c0.234-0.121,0.351-0.385,0.351-0.793c0-0.438-0.113-0.87-0.338-1.294
                c-0.226-0.423-0.565-0.769-1.019-1.035c-0.453-0.269-0.996-0.4-1.628-0.4c-0.487,0-0.931,0.077-1.33,0.233
                c-0.399,0.157-0.736,0.381-1.009,0.674c-0.273,0.293-0.481,0.645-0.624,1.055c-0.142,0.408-0.213,0.853-0.213,1.332
                c0,1.017,0.289,1.822,0.866,2.416c0.578,0.593,1.388,0.891,2.428,0.891c0.455,0,0.858-0.06,1.208-0.179
                c0.351-0.119,0.641-0.268,0.873-0.448c0.231-0.18,0.404-0.368,0.52-0.563c0.115-0.196,0.172-0.367,0.172-0.514
                c0-0.167-0.051-0.294-0.154-0.386c-0.103-0.091-0.237-0.138-0.404-0.138c-0.154,0-0.273,0.036-0.356,0.107
                c-0.202,0.189-0.366,0.341-0.492,0.451c-0.128,0.111-0.266,0.216-0.416,0.313c-0.151,0.098-0.306,0.168-0.466,0.214
                c-0.161,0.045-0.338,0.067-0.532,0.067c-0.289,0-0.553-0.07-0.792-0.213c-0.24-0.143-0.432-0.354-0.576-0.636
                c-0.145-0.28-0.218-0.605-0.223-0.973h3.169C212.795,476.992,213.124,476.931,213.357,476.811z M209.202,476.071
                c0.056-0.546,0.212-0.959,0.472-1.238c0.259-0.278,0.591-0.418,0.995-0.418c0.423,0,0.765,0.138,1.024,0.413
                c0.259,0.274,0.409,0.689,0.448,1.243H209.202z" />
                                <path id="XMLID_510_" fill="#828282" d="M219.744,470.889c-0.245,0-0.435,0.085-0.567,0.256
                c-0.133,0.17-0.199,0.421-0.199,0.754v2.392c-0.305-0.331-0.617-0.578-0.938-0.739c-0.32-0.159-0.714-0.24-1.182-0.24
                c-0.807,0-1.458,0.284-1.953,0.849c-0.495,0.566-0.742,1.356-0.742,2.37c0,0.478,0.062,0.923,0.187,1.335
                c0.125,0.412,0.307,0.77,0.549,1.074s0.528,0.54,0.858,0.704c0.331,0.164,0.689,0.246,1.078,0.246
                c0.293,0,0.563-0.04,0.81-0.123c0.248-0.08,0.477-0.199,0.688-0.355s0.426-0.359,0.644-0.608v0.16
                c0,0.297,0.072,0.525,0.217,0.687c0.145,0.16,0.328,0.24,0.549,0.24c0.226,0,0.41-0.078,0.552-0.231
                c0.143-0.155,0.213-0.386,0.213-0.695v-7.146c0-0.306-0.066-0.535-0.199-0.692
                C220.178,470.967,219.989,470.889,219.744,470.889z M218.678,477.731c-0.14,0.306-0.328,0.534-0.564,0.682
                c-0.235,0.148-0.496,0.224-0.781,0.224c-0.281,0-0.54-0.079-0.777-0.236c-0.238-0.155-0.425-0.388-0.562-0.696
                c-0.137-0.31-0.205-0.683-0.205-1.122c0-0.416,0.064-0.781,0.193-1.096c0.128-0.315,0.31-0.556,0.543-0.724
                s0.499-0.253,0.795-0.253c0.285,0,0.547,0.082,0.787,0.246c0.24,0.165,0.43,0.402,0.57,0.712
                c0.141,0.312,0.211,0.683,0.211,1.114C218.889,477.04,218.818,477.424,218.678,477.731z" />
                                <path id="XMLID_507_" fill="#828282" d="M229.125,473.693c-0.406-0.255-0.878-0.383-1.416-0.383
                c-0.467,0-0.859,0.085-1.176,0.253c-0.317,0.167-0.627,0.41-0.932,0.727v-2.475c0-0.298-0.067-0.525-0.202-0.687
                c-0.135-0.16-0.326-0.24-0.576-0.24c-0.237,0-0.423,0.085-0.556,0.253c-0.132,0.167-0.198,0.416-0.198,0.744v7.076
                c0,0.305,0.068,0.536,0.205,0.692s0.32,0.234,0.549,0.234c0.226,0,0.412-0.078,0.558-0.234c0.146-0.156,0.22-0.388,0.22-0.692
                v-0.16c0.178,0.206,0.322,0.36,0.431,0.463c0.109,0.104,0.241,0.203,0.395,0.3c0.154,0.098,0.341,0.176,0.562,0.234
                c0.219,0.06,0.454,0.09,0.703,0.09c0.408,0,0.78-0.082,1.119-0.246c0.338-0.164,0.626-0.397,0.864-0.698
                c0.237-0.301,0.418-0.656,0.543-1.065c0.125-0.41,0.188-0.859,0.188-1.35c0-0.666-0.112-1.241-0.336-1.726
                C229.844,474.319,229.53,473.949,229.125,473.693z M228.334,478.104c-0.294,0.354-0.646,0.532-1.053,0.532
                c-0.479,0-0.866-0.174-1.161-0.521c-0.295-0.346-0.442-0.841-0.442-1.485c0-0.439,0.069-0.819,0.208-1.138
                s0.329-0.562,0.57-0.729s0.517-0.253,0.825-0.253c0.301,0,0.564,0.085,0.79,0.253c0.225,0.168,0.399,0.406,0.522,0.715
                s0.184,0.677,0.184,1.104C228.777,477.243,228.629,477.75,228.334,478.104z" />
                                <path id="XMLID_506_" fill="#828282" d="M236.07,473.397c-0.113-0.066-0.23-0.099-0.354-0.099c-0.17,0-0.302,0.03-0.395,0.09
                c-0.093,0.059-0.181,0.173-0.264,0.344c-0.083,0.17-0.177,0.406-0.279,0.706l-1.3,3.71l-1.372-3.989
                c-0.091-0.277-0.195-0.489-0.314-0.638s-0.295-0.223-0.528-0.223c-0.135,0-0.264,0.035-0.389,0.107
                c-0.125,0.071-0.222,0.166-0.293,0.285c-0.071,0.118-0.107,0.246-0.107,0.385c0,0.131,0.062,0.342,0.185,0.629l1.995,5.022
                l-0.148,0.362c-0.111,0.266-0.209,0.467-0.294,0.603c-0.085,0.137-0.181,0.232-0.288,0.288
                c-0.107,0.056-0.254,0.083-0.44,0.083c-0.075,0-0.164-0.012-0.267-0.035c-0.083-0.024-0.168-0.037-0.256-0.037
                c-0.221,0-0.389,0.052-0.501,0.152c-0.113,0.101-0.169,0.245-0.169,0.431c0,0.272,0.118,0.461,0.356,0.564
                c0.237,0.103,0.593,0.153,1.067,0.153c0.487,0,0.874-0.073,1.161-0.223c0.288-0.147,0.518-0.361,0.692-0.638
                c0.174-0.277,0.352-0.659,0.535-1.146l2.113-5.533c0.051-0.142,0.094-0.283,0.13-0.421c0.036-0.139,0.061-0.246,0.077-0.321
                c0-0.122-0.031-0.239-0.092-0.35C236.269,473.551,236.182,473.463,236.07,473.397z" />
                            </g>
                            <g id="XMLID_484_">
                                <path id="XMLID_504_" fill="#828282" d="M258.475,470.885c-0.534,0-0.954,0.068-1.261,0.204
                c-0.307,0.137-0.526,0.354-0.654,0.653c-0.129,0.3-0.191,0.701-0.191,1.211v0.486h-0.387c-0.543,0-0.814,0.192-0.814,0.582
                c0,0.174,0.065,0.316,0.196,0.424c0.132,0.111,0.315,0.163,0.559,0.163h0.446v4.295c0,0.319,0.075,0.563,0.228,0.729
                c0.154,0.171,0.344,0.254,0.573,0.254c0.243,0,0.438-0.083,0.59-0.254c0.155-0.167,0.23-0.41,0.23-0.729v-4.295h0.396
                c0.29,0,0.517-0.035,0.681-0.106c0.166-0.071,0.245-0.241,0.245-0.503c0-0.374-0.307-0.56-0.926-0.56h-0.396v-0.386
                c0-0.322,0.043-0.568,0.122-0.74c0.087-0.172,0.273-0.26,0.565-0.26c0.107,0,0.241,0.014,0.39,0.035
                c0.155,0.025,0.268,0.037,0.33,0.037c0.134,0,0.252-0.055,0.348-0.16c0.101-0.106,0.15-0.235,0.15-0.385
                C259.895,471.114,259.424,470.885,258.475,470.885z" />
                                <path id="XMLID_503_" fill="#828282" d="M263.635,473.551c-0.32-0.171-0.647-0.255-0.99-0.255
                c-0.342,0-0.611,0.084-0.818,0.255c-0.203,0.171-0.4,0.421-0.593,0.755c-0.015-0.334-0.08-0.584-0.198-0.755
                c-0.119-0.171-0.313-0.255-0.584-0.255c-0.525,0-0.788,0.364-0.788,1.093v4.515c0,0.323,0.078,0.568,0.226,0.733
                c0.149,0.168,0.341,0.25,0.579,0.25c0.237,0,0.432-0.08,0.586-0.246c0.15-0.163,0.233-0.41,0.233-0.737v-1.355
                c0-0.486,0.015-0.899,0.045-1.238c0.033-0.337,0.09-0.631,0.17-0.878c0.084-0.243,0.202-0.426,0.354-0.554
                c0.149-0.122,0.345-0.187,0.582-0.187c0.172,0,0.373,0.037,0.602,0.108c0.226,0.073,0.371,0.112,0.433,0.112
                c0.157,0,0.304-0.064,0.441-0.195c0.135-0.125,0.204-0.291,0.204-0.488C264.117,473.949,263.957,473.722,263.635,473.551z" />
                                <path id="XMLID_500_" fill="#828282" d="M269.723,476.809c0.233-0.122,0.351-0.386,0.351-0.791c0-0.441-0.112-0.87-0.339-1.296
                c-0.222-0.424-0.565-0.77-1.018-1.034c-0.453-0.27-0.997-0.403-1.629-0.403c-0.488,0-0.932,0.078-1.33,0.233
                c-0.401,0.156-0.735,0.38-1.008,0.674c-0.276,0.295-0.484,0.644-0.624,1.055c-0.145,0.41-0.218,0.855-0.218,1.334
                c0,1.017,0.293,1.823,0.87,2.418c0.576,0.594,1.385,0.889,2.429,0.889c0.454,0,0.857-0.06,1.207-0.179
                c0.35-0.116,0.641-0.268,0.874-0.446c0.233-0.182,0.405-0.368,0.522-0.566c0.111-0.194,0.167-0.365,0.167-0.512
                c0-0.167-0.048-0.294-0.151-0.386c-0.105-0.093-0.238-0.139-0.406-0.139c-0.152,0-0.271,0.038-0.355,0.108
                c-0.202,0.189-0.367,0.34-0.494,0.449c-0.127,0.113-0.264,0.218-0.414,0.313c-0.15,0.098-0.308,0.17-0.466,0.213
                c-0.161,0.049-0.337,0.07-0.531,0.07c-0.291,0-0.553-0.07-0.793-0.213c-0.24-0.145-0.431-0.356-0.578-0.635
                c-0.144-0.28-0.216-0.607-0.222-0.975h3.172C269.161,476.99,269.489,476.93,269.723,476.809z M265.566,476.068
                c0.055-0.546,0.213-0.957,0.472-1.235c0.26-0.281,0.592-0.418,0.995-0.418c0.426,0,0.765,0.136,1.025,0.412
                c0.26,0.272,0.407,0.688,0.446,1.241H265.566z" />
                                <path id="XMLID_497_" fill="#828282" d="M275.462,473.688c-0.46-0.27-1.003-0.403-1.634-0.403c-0.486,0-0.932,0.078-1.33,0.233
                c-0.401,0.156-0.737,0.38-1.009,0.674c-0.273,0.295-0.481,0.644-0.623,1.055c-0.145,0.41-0.217,0.855-0.217,1.334
                c0,1.017,0.29,1.823,0.867,2.418c0.58,0.594,1.388,0.889,2.43,0.889c0.454,0,0.86-0.06,1.209-0.179
                c0.348-0.116,0.641-0.268,0.872-0.446c0.234-0.182,0.408-0.368,0.519-0.566c0.117-0.194,0.171-0.365,0.171-0.512
                c0-0.167-0.047-0.294-0.149-0.386c-0.104-0.093-0.239-0.139-0.407-0.139c-0.151,0-0.271,0.038-0.354,0.108
                c-0.203,0.189-0.368,0.34-0.493,0.449c-0.127,0.113-0.264,0.218-0.415,0.313c-0.152,0.098-0.307,0.17-0.469,0.213
                c-0.157,0.049-0.335,0.07-0.527,0.07c-0.291,0-0.556-0.07-0.795-0.213c-0.239-0.145-0.431-0.356-0.575-0.635
                c-0.144-0.28-0.219-0.607-0.222-0.975h3.171c0.422,0,0.75-0.061,0.984-0.182c0.23-0.122,0.351-0.386,0.351-0.791
                c0-0.441-0.116-0.87-0.341-1.296C276.253,474.298,275.911,473.952,275.462,473.688z M272.31,476.068
                c0.052-0.546,0.211-0.957,0.469-1.235c0.261-0.281,0.592-0.418,0.996-0.418c0.425,0,0.763,0.136,1.026,0.412
                c0.257,0.272,0.407,0.688,0.446,1.241H272.31z" />
                                <path id="XMLID_494_" fill="#828282" d="M282.476,473.693c-0.42-0.256-0.882-0.386-1.379-0.386
                c-0.415,0-0.79,0.089-1.114,0.267c-0.331,0.176-0.648,0.452-0.953,0.827v-0.193c0-0.297-0.07-0.52-0.218-0.679
                c-0.143-0.155-0.329-0.233-0.56-0.233c-0.233,0-0.418,0.078-0.553,0.228c-0.134,0.155-0.2,0.383-0.2,0.692v6.996
                c0,0.354,0.052,0.62,0.146,0.807c0.103,0.183,0.301,0.274,0.607,0.274c0.518,0,0.777-0.359,0.777-1.068v-2.434
                c0.287,0.358,0.587,0.634,0.901,0.816c0.313,0.187,0.704,0.279,1.166,0.279c0.385,0,0.741-0.076,1.079-0.227
                c0.334-0.153,0.623-0.373,0.869-0.654c0.244-0.283,0.44-0.632,0.58-1.05s0.21-0.878,0.21-1.376
                c0-0.677-0.122-1.261-0.366-1.758C283.225,474.328,282.896,473.952,282.476,473.693z M282,477.697
                c-0.137,0.313-0.32,0.546-0.553,0.704c-0.229,0.153-0.48,0.232-0.748,0.232c-0.454,0-0.828-0.179-1.133-0.536
                c-0.307-0.358-0.46-0.862-0.46-1.504c0-0.687,0.154-1.204,0.462-1.559c0.307-0.35,0.685-0.527,1.131-0.527
                c0.281,0,0.541,0.084,0.771,0.248c0.229,0.163,0.41,0.397,0.541,0.705c0.13,0.306,0.196,0.674,0.196,1.102
                C282.207,477.005,282.138,477.383,282,477.697z" />
                                <path id="XMLID_493_" fill="#828282" d="M285.45,473.296c-0.238,0-0.428,0.079-0.58,0.244
                c-0.146,0.163-0.222,0.403-0.222,0.722v4.643c0,0.313,0.076,0.556,0.222,0.729c0.152,0.171,0.342,0.254,0.58,0.254
                s0.432-0.082,0.588-0.25c0.154-0.165,0.231-0.41,0.231-0.732v-4.688c0-0.286-0.077-0.513-0.231-0.676
                C285.882,473.375,285.688,473.296,285.45,473.296z" />
                                <path id="XMLID_492_" fill="#828282" d="M285.467,470.955c-0.217,0-0.407,0.076-0.571,0.223
                c-0.166,0.15-0.247,0.339-0.247,0.569c0,0.252,0.08,0.446,0.242,0.585c0.158,0.138,0.35,0.209,0.576,0.209
                c0.22,0,0.408-0.071,0.566-0.21c0.157-0.14,0.236-0.335,0.236-0.584c0-0.258-0.081-0.455-0.244-0.592
                C285.864,471.022,285.68,470.955,285.467,470.955z" />
                                <path id="XMLID_491_" fill="#828282" d="M292.809,478.326l-1.661-2.614l0.86-0.789c0.438-0.396,0.659-0.714,0.659-0.951
                c0-0.192-0.068-0.354-0.2-0.483c-0.139-0.128-0.306-0.192-0.51-0.192c-0.169,0-0.313,0.043-0.431,0.13
                c-0.122,0.086-0.291,0.252-0.518,0.486l-1.822,1.914v-3.934c0-0.329-0.074-0.582-0.221-0.751
                c-0.147-0.171-0.344-0.257-0.594-0.257c-0.255,0-0.456,0.093-0.596,0.283c-0.135,0.188-0.206,0.462-0.206,0.82v6.915
                c0,0.323,0.072,0.568,0.215,0.733c0.141,0.168,0.338,0.25,0.587,0.25c0.213,0,0.406-0.083,0.566-0.254
                c0.165-0.167,0.248-0.406,0.248-0.718v-1.291l0.88-0.83l1.428,2.354c0.182,0.277,0.33,0.472,0.436,0.58
                c0.106,0.108,0.261,0.159,0.459,0.159c0.227,0,0.413-0.073,0.554-0.221c0.142-0.15,0.213-0.352,0.213-0.609
                c0-0.09-0.028-0.189-0.081-0.289C293.021,478.666,292.93,478.522,292.809,478.326z" />
                                <path id="XMLID_490_" fill="#828282" d="M295.002,478.1c-0.251,0-0.459,0.088-0.631,0.262c-0.17,0.173-0.256,0.381-0.256,0.622
                c0,0.287,0.09,0.51,0.268,0.666c0.18,0.159,0.39,0.237,0.634,0.237c0.237,0,0.444-0.078,0.624-0.241
                c0.175-0.157,0.264-0.379,0.264-0.662c0-0.243-0.089-0.454-0.264-0.626C295.461,478.188,295.25,478.1,295.002,478.1z" />
                                <path id="XMLID_489_" fill="#828282" d="M302.389,477.173c-0.167,0-0.309,0.055-0.423,0.156
                c-0.113,0.104-0.219,0.245-0.317,0.427c-0.178,0.31-0.382,0.539-0.617,0.689c-0.23,0.15-0.509,0.226-0.835,0.226
                c-0.239,0-0.462-0.046-0.665-0.142c-0.201-0.093-0.372-0.229-0.516-0.408c-0.144-0.181-0.253-0.398-0.326-0.653
                c-0.075-0.255-0.113-0.537-0.113-0.842c0-0.646,0.146-1.161,0.439-1.534c0.293-0.375,0.682-0.561,1.158-0.561
                c0.333,0,0.606,0.074,0.82,0.227c0.219,0.148,0.425,0.375,0.623,0.674c0.108,0.158,0.209,0.269,0.299,0.339
                c0.09,0.068,0.201,0.104,0.338,0.104c0.202,0,0.378-0.068,0.524-0.203c0.144-0.135,0.215-0.3,0.215-0.492
                c0-0.191-0.063-0.397-0.192-0.617c-0.128-0.218-0.314-0.423-0.557-0.62c-0.245-0.192-0.54-0.352-0.89-0.474
                c-0.354-0.124-0.737-0.185-1.158-0.185c-0.674,0-1.259,0.139-1.746,0.419c-0.486,0.278-0.859,0.674-1.113,1.184
                c-0.26,0.511-0.388,1.098-0.388,1.765c0,0.981,0.282,1.766,0.842,2.35c0.562,0.583,1.345,0.876,2.349,0.876
                c0.469,0,0.894-0.065,1.269-0.191c0.377-0.126,0.688-0.295,0.935-0.502c0.248-0.208,0.434-0.425,0.554-0.656
                c0.121-0.229,0.182-0.446,0.182-0.646c0-0.169-0.066-0.331-0.198-0.481C302.751,477.25,302.586,477.173,302.389,477.173z" />
                                <path id="XMLID_486_" fill="#828282" d="M309.201,474.209c-0.288-0.291-0.629-0.518-1.027-0.675
                c-0.4-0.16-0.847-0.238-1.336-0.238c-0.482,0-0.924,0.078-1.326,0.233c-0.398,0.158-0.737,0.381-1.02,0.669
                c-0.281,0.288-0.498,0.637-0.649,1.046c-0.146,0.407-0.224,0.857-0.224,1.349c0,0.485,0.075,0.93,0.219,1.332
                c0.152,0.401,0.369,0.75,0.657,1.048c0.285,0.292,0.627,0.521,1.017,0.677c0.393,0.159,0.835,0.239,1.326,0.239
                c0.492,0,0.937-0.08,1.336-0.234c0.394-0.158,0.735-0.383,1.021-0.676c0.286-0.291,0.501-0.642,0.655-1.049
                c0.146-0.409,0.223-0.855,0.223-1.337c0-0.489-0.075-0.932-0.221-1.339C309.703,474.853,309.487,474.506,309.201,474.209z
                 M308.009,478.125c-0.289,0.373-0.682,0.558-1.171,0.558c-0.324,0-0.604-0.086-0.846-0.253
                c-0.24-0.168-0.424-0.409-0.554-0.729c-0.13-0.316-0.193-0.684-0.193-1.108c0-0.429,0.066-0.803,0.197-1.124
                c0.13-0.321,0.314-0.564,0.556-0.728c0.242-0.164,0.521-0.246,0.84-0.246c0.489,0,0.882,0.183,1.171,0.555
                c0.29,0.367,0.437,0.882,0.437,1.543C308.445,477.243,308.299,477.756,308.009,478.125z" />
                                <path id="XMLID_485_" fill="#828282" d="M319.126,473.569c-0.321-0.173-0.705-0.262-1.146-0.262
                c-0.381,0-0.727,0.08-1.039,0.241c-0.313,0.161-0.606,0.407-0.881,0.737c-0.192-0.326-0.432-0.572-0.726-0.735
                c-0.292-0.162-0.642-0.243-1.049-0.243c-0.394,0-0.747,0.078-1.07,0.241c-0.318,0.155-0.619,0.403-0.902,0.737v-0.153
                c0-0.261-0.074-0.466-0.222-0.615c-0.15-0.145-0.335-0.222-0.558-0.222c-0.227,0-0.412,0.078-0.556,0.238
                c-0.14,0.157-0.21,0.389-0.21,0.694v4.638c0,0.336,0.078,0.591,0.235,0.765c0.156,0.171,0.357,0.258,0.604,0.258
                c0.248,0,0.447-0.087,0.603-0.258c0.15-0.174,0.227-0.429,0.227-0.765v-2.189c0-0.684,0.086-1.206,0.254-1.566
                c0.168-0.369,0.516-0.551,1.048-0.551c0.264,0,0.459,0.073,0.581,0.22c0.122,0.143,0.198,0.331,0.227,0.552
                c0.027,0.227,0.04,0.545,0.04,0.953v2.582c0,0.342,0.078,0.594,0.232,0.767c0.148,0.171,0.35,0.256,0.595,0.256
                c0.254,0,0.454-0.085,0.61-0.256c0.156-0.173,0.231-0.425,0.231-0.767v-2.154c0-0.694,0.062-1.178,0.177-1.452
                c0.109-0.21,0.259-0.384,0.451-0.508c0.192-0.126,0.395-0.192,0.608-0.192c0.265,0,0.463,0.073,0.596,0.215
                c0.129,0.142,0.21,0.318,0.239,0.529c0.028,0.21,0.043,0.487,0.043,0.836v2.727c0,0.336,0.079,0.591,0.235,0.765
                c0.156,0.171,0.356,0.258,0.603,0.258c0.253,0,0.459-0.085,0.612-0.256c0.153-0.173,0.229-0.425,0.229-0.767v-3.164
                c0-0.63-0.068-1.091-0.206-1.386C319.684,473.994,319.444,473.743,319.126,473.569z" />
                            </g>
                            <g id="XMLID_470_">
                                <path id="XMLID_483_" fill="#828282" d="M240.814,476.2c-0.001-0.003-0.001-0.006-0.001-0.011
                C240.813,476.194,240.813,476.197,240.814,476.2z" />
                                <path id="XMLID_482_" fill="#828282" d="M240.896,476.719C240.897,476.719,240.897,476.719,240.896,476.719
                c-0.029-0.147-0.054-0.294-0.072-0.439C240.842,476.426,240.867,476.572,240.896,476.719z" />
                                <path id="XMLID_481_" fill="#828282" d="M241.433,478.223c-0.004-0.006-0.007-0.014-0.011-0.021
                C241.426,478.209,241.429,478.217,241.433,478.223z" />
                                <path id="XMLID_480_" fill="#828282" d="M241.381,478.122c-0.014-0.027-0.028-0.056-0.041-0.083
                C241.354,478.068,241.367,478.095,241.381,478.122z" />
                                <path id="XMLID_479_" fill="#828282" d="M241.047,477.298c0.079,0.25,0.175,0.492,0.286,0.724
                c-0.113-0.236-0.207-0.479-0.284-0.724H241.047z" />
                                <path id="XMLID_478_" fill="#828282" d="M246.278,469.437l-0.076-0.26c0.299-0.063,0.524-0.329,0.524-0.646
                c0-0.363-0.296-0.658-0.661-0.658c-0.365,0-0.66,0.295-0.66,0.658c0,0.317,0.224,0.584,0.523,0.646l0.083,0.29
                c-1.021,0.14-1.834,0.539-1.834,0.539l0.144,0.44c0.618-0.206,1.154-0.331,1.64-0.384c0.477-0.051,0.834-0.072,1.127-0.072
                c0.313,0,0.544,0.024,0.809,0.069l0.075-0.477C247.972,469.583,247.24,469.357,246.278,469.437z" />
                                <path id="XMLID_477_" fill="#828282" d="M240.994,471.943c-0.017,0.024-0.497,0.466-0.876,1.28
                c-0.016-0.025-0.035-0.051-0.056-0.074c-0.113-0.124-0.272-0.188-0.474-0.184c-0.002,0-0.006,0-0.009,0
                c-0.125,0-0.21-0.042-0.267-0.093c0.056-0.07,0.089-0.159,0.089-0.258c0-0.23-0.188-0.418-0.418-0.418
                c-0.23,0-0.418,0.188-0.418,0.418c0,0.231,0.188,0.418,0.418,0.418c0.036,0,0.071-0.006,0.104-0.013
                c0.103,0.114,0.266,0.214,0.504,0.209c0.123-0.001,0.213,0.03,0.274,0.097c0.069,0.076,0.092,0.186,0.1,0.268
                c0,0.001,0,0.003-0.002,0.003c-0.272,0.743-0.194,1.669-0.194,1.669l0.661,0.026c0.014-0.337,0.062-0.927,0.232-1.395
                c0.329-0.905,0.741-1.472,0.758-1.496l0.003-0.005c0.024-0.031,0.047-0.061,0.071-0.089l-0.195-0.141L240.994,471.943z" />
                                <path id="XMLID_476_" fill="#828282" d="M252.837,470.543c-0.229,0-0.418,0.187-0.418,0.418c0,0.035,0.006,0.069,0.015,0.103
                c-0.114,0.104-0.214,0.268-0.21,0.507c0.001,0.123-0.03,0.212-0.097,0.272c-0.054,0.047-0.12,0.072-0.186,0.088
                c-0.491-0.688-1.097-1.109-1.097-1.109l-0.474,0.509c0.358,0.325,0.725,0.734,1.08,1.244c0.246,0.352,0.499,0.806,0.71,1.259
                l0.641-0.304c0,0-0.293-0.723-0.704-1.37c0.071-0.024,0.144-0.064,0.207-0.12c0.125-0.113,0.187-0.272,0.183-0.474
                c-0.001-0.13,0.042-0.218,0.094-0.275c0.071,0.054,0.16,0.089,0.257,0.089c0.232,0,0.419-0.188,0.419-0.418
                C253.256,470.729,253.069,470.543,252.837,470.543z" />
                                <path id="XMLID_475_" fill="#828282" d="M251.177,476.294c-0.881,0.429-2.331,0.996-4.239,1.262
                c-0.749,0.104-1.475,0.143-2.143,0.143c-0.869,0-1.637-0.064-2.227-0.14c-0.672-0.084-1.198-0.188-1.52-0.261
                c0.077,0.245,0.171,0.487,0.284,0.724c0.002,0.006,0.005,0.013,0.008,0.018c0.013,0.027,0.027,0.056,0.041,0.083
                c0.013,0.028,0.027,0.055,0.041,0.08c0.004,0.007,0.007,0.015,0.011,0.021c0.189,0.356,0.417,0.685,0.675,0.968
                c0.9,0.984,1.817,1.14,1.826,1.142l0.014,0.002l0.013,0.005c0.008,0.003,0.821,0.266,2.057,0.266
                c1.216,0,2.409-0.246,3.546-0.729c0.842-0.432,1.639-1.085,2.034-1.669c0.305-0.452,0.525-0.934,0.655-1.434
                c0.07-0.267,0.125-0.692,0.093-1.141C252.099,475.798,251.707,476.035,251.177,476.294z" />
                                <path id="XMLID_471_" fill="#828282" d="M247.865,470.41c-0.265-0.043-0.477-0.068-0.777-0.068c-0.28,0-0.626,0.023-1.09,0.072
                c-0.464,0.048-0.982,0.17-1.583,0.372c-0.842,0.282-1.604,0.725-2.205,1.28l-0.02,0.019c-0.089,0.082-0.274,0.254-0.488,0.525
                c-0.025,0.037-0.408,0.578-0.709,1.408c-0.226,0.622-0.216,1.527-0.216,1.537v0.002c0,0.213,0.012,0.423,0.036,0.632
                c0,0.005,0,0.008,0.001,0.011c0.002,0.027,0.007,0.053,0.01,0.079c0.019,0.146,0.043,0.292,0.074,0.439
                c0.438,0.111,3.049,0.72,5.967,0.313c1.83-0.255,3.219-0.795,4.062-1.204c0.701-0.34,1.151-0.647,1.325-0.774
                c-0.173-0.643-0.65-1.649-1.089-2.278C249.91,470.984,248.559,470.524,247.865,470.41z M244.221,475.67
                c-0.972,0-1.76-0.787-1.76-1.759c0-0.973,0.789-1.761,1.76-1.761c0.973,0,1.76,0.788,1.76,1.761
                C245.981,474.883,245.193,475.67,244.221,475.67z M249.372,474.373c-0.601,0-1.089-0.489-1.089-1.09
                c0-0.602,0.488-1.09,1.089-1.09c0.601,0,1.089,0.488,1.089,1.09C250.461,473.884,249.972,474.373,249.372,474.373z" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="col l12 m12 s12 center">
        <a href="<%=FRONTEND.FRONTEND_URL%>/" class="btn">Return to home page</a>
    </div><br><br>

</body>

</html>