.noMargin{
    margin:0 !important;
}
.noPadding{
    padding:0 !important;
}
.noRightPadding {
    padding-right: 0 !important;
}
.noLeftPadding {
    padding-left: 0 !important;
}
.noTopPadding {
    padding-top: 0 !important;
}
.noBottomPadding {
    padding-bottom: 0 !important;
}
.noBottomMargin{
    margin-bottom: 0 !important;
}
.noLeftMargin{
    margin-left: 0 !important;
}
.noRightMargin{
    margin-right: 0 !important;
}
.noTopMargin{
    margin-top: 0 !important;
}
.noTopBottomMargin{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.noLeftPadding {
    padding-left: 0;
}

.noRightPadding {
    padding-right: 0 !important;
}
.noTopBottomPadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.pt-1 {
    padding-top: 1rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}