<div class="row noMargin">
    <div class="col s12 m12 l12">
        <div id="addeditmsg" class="modal" style="width:20%;">
            <div class="modal-content" style="padding:0">
                <div class="center  white-text" id="modalType" style="padding:3% 0 3% 0"></div>
                
                <h6 id="msg" class="center"></h6>
            </div>
            <div class="col s8 m2 l2 offset-l5 modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect  btn">OK</a>
            </div>
        </div>
    </div>
</div>
<!-- common msg modal end-->

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row noBottomMargin">
                <div class="col s12 m4 l4 center">
                    <a class="right hide-on-small-only" href="#!" style="transform: translate(10px,6px);">&emsp; © 2018
                        Copyright</a>
                    <a class="hide-on-med-and-up" href="#!">&emsp; © 2018 Copyright</a>
                </div>
                <div class="col s12 m8 l8">
                    <a class="right right-align hide-on-small-only" href="#!">
                        Made with <i class="material-icons red-text" style="transform: translate(0,6px);">favorite</i>
                        by Vaisansar Technologies Pvt. Ltd.
                    </a>
                    <a class="hide-on-med-and-up" href="#!">
                        Made with <i class="material-icons red-text" style="transform: translate(0,6px);">favorite</i>
                        by Vaisansar Technologies Pvt. Ltd.
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>